

.forgot-box {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.forgot-box .logo img {
    height: 85px;
    margin-bottom: 20px;
}

.forgot-box h2 {
    margin-bottom: 24px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 0.9rem;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #007ad9;
    text-decoration: none;
    font-size: 0.85rem;
}

.forgot-button {
    width: 100%;
}

.forgot-box .p-password-input,.forgot-box .p-icon-field{
    width: 100%;
}